code/XareuWFClient/XareuWFClient/Service References/TagServices/TagService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50828/API/TagService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/XareuServices.Model.Tag" />
  <xs:import schemaLocation="http://localhost:50828/API/TagService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:50828/API/TagService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/XareuServices.Model.Publication" />
  <xs:import schemaLocation="http://localhost:50828/API/TagService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/XareuServices.Model.User" />
  <xs:element name="GetTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/XareuServices.Model.Tag" minOccurs="0" name="GetTagResult" nillable="true" type="q1:Tag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/XareuServices.Model.Tag" minOccurs="0" name="GetTagByNameResult" nillable="true" type="q2:Tag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/XareuServices.Model.Tag" minOccurs="0" name="GetAllTagsResult" nillable="true" type="q3:ArrayOfTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:long" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q4:guid" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/XareuServices.Model.Tag" minOccurs="0" name="tag" nillable="true" type="q5:Tag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTagResult" type="xs:boolean" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="newToken" type="q6:guid" />
        <xs:element minOccurs="0" name="tagID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:long" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q7:guid" />
        <xs:element minOccurs="0" name="tagID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTagResult" type="xs:boolean" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="newToken" type="q8:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:long" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q9:guid" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/XareuServices.Model.Tag" minOccurs="0" name="tag" nillable="true" type="q10:Tag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditTagResult" type="xs:boolean" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="newToken" type="q11:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagsForPublication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="publicationID" type="xs:long" />
        <xs:element minOccurs="0" name="number" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagsForPublicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/XareuServices.Model.Tag" minOccurs="0" name="GetTagsForPublicationResult" nillable="true" type="q12:ArrayOfTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublicationsWithTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagID" type="xs:long" />
        <xs:element minOccurs="0" name="number" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublicationsWithTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/XareuServices.Model.Publication" minOccurs="0" name="GetPublicationsWithTagResult" nillable="true" type="q13:ArrayOfPublication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTagToPublication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:long" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q14:guid" />
        <xs:element minOccurs="0" name="tagID" type="xs:long" />
        <xs:element minOccurs="0" name="publicationID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTagToPublicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTagToPublicationResult" type="xs:boolean" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="newToken" type="q15:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTagFromPublication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:long" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q16:guid" />
        <xs:element minOccurs="0" name="tagID" type="xs:long" />
        <xs:element minOccurs="0" name="publicationID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTagFromPublicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTagFromPublicationResult" type="xs:boolean" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="newToken" type="q17:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserSubscriptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:long" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q18:guid" />
        <xs:element minOccurs="0" name="userAuthorID" type="xs:long" />
        <xs:element minOccurs="0" name="number" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserSubscriptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/XareuServices.Model.Tag" minOccurs="0" name="GetAllUserSubscriptionsResult" nillable="true" type="q19:ArrayOfTag" />
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="newToken" type="q20:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersSubscribedToTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagID" type="xs:long" />
        <xs:element minOccurs="0" name="number" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersSubscribedToTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/XareuServices.Model.User" minOccurs="0" name="GetAllUsersSubscribedToTagResult" nillable="true" type="q21:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:long" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q22:guid" />
        <xs:element minOccurs="0" name="userAuthorID" type="xs:long" />
        <xs:element minOccurs="0" name="tagID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserSubscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserSubscriptionResult" type="xs:boolean" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="newToken" type="q23:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:long" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q24:guid" />
        <xs:element minOccurs="0" name="userAuthorID" type="xs:long" />
        <xs:element minOccurs="0" name="tagID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserSubscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserSubscriptionResult" type="xs:boolean" />
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="newToken" type="q25:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTagsByText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="number" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTagsByTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/XareuServices.Model.Tag" minOccurs="0" name="SearchTagsByTextResult" nillable="true" type="q26:ArrayOfTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>