code/XareuWFClient/XareuWFClient/Service References/PlaceServices/PlaceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/XareuServices.Model.TagPlace" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/XareuServices.Model.TagPlace" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TagPlace">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TagPlace" nillable="true" type="tns:TagPlace" />
  <xs:complexType name="ArrayOfTagPlace">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TagPlace" nillable="true" type="tns:TagPlace" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTagPlace" nillable="true" type="tns:ArrayOfTagPlace" />
</xs:schema>