code/XareuWFClient/XareuWFClient/Service References/PlaceServices/PlaceService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50828/API/PlaceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/XareuServices.Model.TagPlace" />
  <xs:import schemaLocation="http://localhost:50828/API/PlaceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:50828/API/PlaceService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/XareuServices.Model.Publication" />
  <xs:import schemaLocation="http://localhost:50828/API/PlaceService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/XareuServices.Model.User" />
  <xs:element name="GetTagPlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagPlaceID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagPlaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/XareuServices.Model.TagPlace" minOccurs="0" name="GetTagPlaceResult" nillable="true" type="q1:TagPlace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTagPlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:long" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q2:guid" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/XareuServices.Model.TagPlace" minOccurs="0" name="tagPlace" nillable="true" type="q3:TagPlace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTagPlaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTagPlaceResult" type="xs:boolean" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="newToken" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSons">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagPlaceID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/XareuServices.Model.TagPlace" minOccurs="0" name="GetSonsResult" nillable="true" type="q5:ArrayOfTagPlace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlaceTagsInPublication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="publicationID" type="xs:long" />
        <xs:element minOccurs="0" name="number" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlaceTagsInPublicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/XareuServices.Model.TagPlace" minOccurs="0" name="GetPlaceTagsInPublicationResult" nillable="true" type="q6:ArrayOfTagPlace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublicationForPlaceTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="placeTagID" type="xs:long" />
        <xs:element minOccurs="0" name="number" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublicationForPlaceTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/XareuServices.Model.Publication" minOccurs="0" name="GetPublicationForPlaceTagResult" nillable="true" type="q7:ArrayOfPublication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlaceTagInPublication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:long" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q8:guid" />
        <xs:element minOccurs="0" name="publicationID" type="xs:long" />
        <xs:element minOccurs="0" name="placeTagID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlaceTagInPublicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPlaceTagInPublicationResult" type="xs:boolean" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="newToken" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePlaceTagInPublication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:long" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q10:guid" />
        <xs:element minOccurs="0" name="publicationID" type="xs:long" />
        <xs:element minOccurs="0" name="placeTagID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePlaceTagInPublicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePlaceTagInPublicationResult" type="xs:boolean" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="newToken" type="q11:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPlaceTagSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:long" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q12:guid" />
        <xs:element minOccurs="0" name="userAuthorID" type="xs:long" />
        <xs:element minOccurs="0" name="number" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPlaceTagSubscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/XareuServices.Model.TagPlace" minOccurs="0" name="GetUserPlaceTagSubscriptionResult" nillable="true" type="q13:ArrayOfTagPlace" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="newToken" type="q14:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersSubscribedToPlaceTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="placeTag" type="xs:long" />
        <xs:element minOccurs="0" name="number" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersSubscribedToPlaceTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/XareuServices.Model.User" minOccurs="0" name="GetUsersSubscribedToPlaceTagResult" nillable="true" type="q15:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:long" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q16:guid" />
        <xs:element minOccurs="0" name="userAuthorID" type="xs:long" />
        <xs:element minOccurs="0" name="placeTagID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserSubscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserSubscriptionResult" type="xs:boolean" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="newToken" type="q17:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:long" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q18:guid" />
        <xs:element minOccurs="0" name="userAuthorID" type="xs:long" />
        <xs:element minOccurs="0" name="placeTagID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserSubscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserSubscriptionResult" type="xs:boolean" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="newToken" type="q19:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>