code/XareuWFClient/XareuWFClient/Service References/LoginServices/LoginService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/XareuServices.Model.User" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/XareuServices.Model.User" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50828/API/LoginService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/XareuServices.Model.TagPlace" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/XareuServices.Model.TagPlace" minOccurs="0" name="DefaultPlace" nillable="true" type="q1:TagPlace" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPrivate" type="xs:boolean" />
      <xs:element minOccurs="0" name="Karma" type="xs:float" />
      <xs:element minOccurs="0" name="Nick" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignUp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserPictureURL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>