code/XareuWFClient/XareuWFClient/Service References/VoteServices/VoteService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/XareuServices.Model.Vote" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/XareuServices.Model.Vote" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50828/API/VoteService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/XareuServices.Model.User" />
  <xs:import schemaLocation="http://localhost:50828/API/VoteService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/XareuServices.Model.Publication" />
  <xs:complexType name="Vote">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/XareuServices.Model.User" minOccurs="0" name="Author" nillable="true" type="q1:User" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Karma" type="xs:float" />
      <xs:element minOccurs="0" name="Positive" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/XareuServices.Model.Publication" minOccurs="0" name="Publication" nillable="true" type="q2:Publication" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vote" nillable="true" type="tns:Vote" />
  <xs:complexType name="ArrayOfVote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vote" nillable="true" type="tns:Vote" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVote" nillable="true" type="tns:ArrayOfVote" />
</xs:schema>