code/XareuWFClient/XareuWFClient/Service References/VoteServices/VoteService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50828/API/VoteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:50828/API/VoteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/XareuServices.Model.Vote" />
  <xs:element name="GetVote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:long" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q1:guid" />
        <xs:element minOccurs="0" name="voteID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/XareuServices.Model.Vote" minOccurs="0" name="GetVoteResult" nillable="true" type="q2:Vote" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="newToken" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVotesForPublication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="publicationID" type="xs:long" />
        <xs:element minOccurs="0" name="number" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVotesForPublicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/XareuServices.Model.Vote" minOccurs="0" name="GetVotesForPublicationResult" nillable="true" type="q4:ArrayOfVote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserVotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:long" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q5:guid" />
        <xs:element minOccurs="0" name="userAuthorID" type="xs:long" />
        <xs:element minOccurs="0" name="number" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserVotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/XareuServices.Model.Vote" minOccurs="0" name="GetUserVotesResult" nillable="true" type="q6:ArrayOfVote" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="newToken" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVotesNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="publicationID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVotesNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVotesNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositiveVotesNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="publicationID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositiveVotesNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPositiveVotesNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:long" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q8:guid" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/XareuServices.Model.Vote" minOccurs="0" name="vote" nillable="true" type="q9:Vote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddVoteResult" type="xs:boolean" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="newToken" type="q10:guid" />
        <xs:element minOccurs="0" name="voteID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:long" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q11:guid" />
        <xs:element minOccurs="0" name="voteID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteVoteResult" type="xs:boolean" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="newToken" type="q12:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>