code/XareuWFClient/XareuWFClient/Service References/VoteServices/VoteService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/XareuServices.Model.Publication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/XareuServices.Model.Publication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50828/API/VoteService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/XareuServices.Model.User" />
  <xs:import schemaLocation="http://localhost:50828/API/VoteService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/XareuServices.Model.TagPlace" />
  <xs:complexType name="Publication">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnswersTo" type="xs:long" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/XareuServices.Model.User" minOccurs="0" name="Author" nillable="true" type="q1:User" />
      <xs:element minOccurs="0" name="CreationDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsPrivate" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsQuestion" type="xs:boolean" />
      <xs:element minOccurs="0" name="Karma" type="xs:float" />
      <xs:element minOccurs="0" name="NegativeVotes" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/XareuServices.Model.TagPlace" minOccurs="0" name="Place" nillable="true" type="q2:TagPlace" />
      <xs:element minOccurs="0" name="PositiveVotes" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Publication" nillable="true" type="tns:Publication" />
</xs:schema>